# system, plugins, etc.
.DS_Store
.history
.vscode
.cache
node_modules
package-lock.json
.gitignore

#code
*.css.map
*.sass.map
*.scss.map
be_ignored_at_first_commit.txt
in_be_at_last_commit.txt
dash.txt